@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}


<div class="render-body">

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="col flex-sm-wrap-reverse">
                    <img src=@Model.ImageLink alt="" style="width:100%; height: auto; min-width: 400px;" />
                </div>
            </div>
            <div class="col" style=" justify-content: center;">


                <div class="alert alert-dismissible alert-danger" style="margin-top: 20%;">
                    <a><strong>@Model.Message</strong></a>
                </div>


            </div>

        </div>
    </div>
</div>