@model LoginViewModel
@section Styles{
    <link rel="stylesheet" href="~/css/form.css">
}
<div class="render-body">
    <div class="container">
        <div class="row">
            <div class="col flex-sm-wrap-reverse ">
                <img src="@Constants.DOMAIN_NAME/images/login.png" alt="eHouseManager login image" style="width:100%; height: auto; min-width: 400px;" />
            </div>
            <div class="col">
                <form asp-action="Login">
                    <div>
                        <br />
                        <input asp-for="Email" placeholder="Email" class="fadeIn second" />
                        <span asp-validation-for="Email" class="form-error"></span>
                    </div>
                    <div>
                        <br />
                        <input asp-for="Password" placeholder="Password" type="password" class="fadeIn second" />
                        <span asp-validation-for="Password" class="form-error"></span>
                    </div>
                    <div style="text-align: center">
                        <input type="submit" value="Login" class="fadeIn fourth" style="margin-right: 85px;" />

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}