 <!-- Page Content -->
<!-- Heading Starts Here -->
<!-- Heading Ends Here -->
<!-- About Us Starts Here -->
<div class="За нас">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="left-image">
                    <img src="@Constants.DOMAIN_NAME/images/about1.png" alt="" style="width: 100%; height: auto; min-width: 400px;">
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-content">
                    <div class="section-heading">
                        <span>За нас</span>
                        <h2>История</h2>
                        <p>Ние сме млад и иновативен екип, с амбиция да модернизираме начина, по който се управляват сградите в режим на Етажна Собственост (ЕС), да улесним прозрачността и споделянето на информация между обитателите на ЕС. Стремим се да откликнем на индивидуалните потребности на всеки клиент, стъпвайки върху добрите и утвърдили се практики от споделения опит на Управители на ЕС. Работата с нас Ви гарантира спокойствие, комфорт и максимален стремеж от наша страна за задоволяване на нуждите на вашата ЕС.</p>
                    </div>
                    <div id='tabs'>
                        <ul>
                            <li><a href='#tabs-1'>Проблеми</a></li>
                            <li><a href='#tabs-2'>Решения</a></li>
                            <li><a href='#tabs-3'>Полезни връзки</a></li>
                        </ul>
                        <section class='tabs-content'>
                            <article id='tabs-1'>
                               <p> 
                                <ul>
                                    <li><b>Събиране</b> на месечни <b>такси</b> и вноски за неотложни и планирани ремонти и подобрения</li>
                                    <li><b>Покриване</b> на месечни <b>разходи</b> на Етажната Собственост (ЕС)</li>
                                    <li><b>Отчетност и прозрачност</b> на формиране таксите, събираемостта и разходите на ЕС</li>
                                    <li><b>Уведомления</b> за събития свързани с ЕС (общи събрания, протоколи и решения, предстоящи или извършени ремонти, общи инициативи на ЕС и др.)</li>
                                </ul>
                               </p>
                            </article>
                            <article id='tabs-2'>
                                <p>Основни функционалности:</p>
                                <ul>
                                    <li>Ограничен достъп за собствениците в ЕС с различни нива на достъп: регистриран потребител, касиер*, домоуправител (администратор)</li>
                                    <li>Регистрация на потребители, достъп чрез ел.поща и парола</li>
                                    <li>Достъп до актуални/минали/предстоящи събития свързани с Етажната Собственост (ЕС)</li>
                                    <li>Текущи задължения по апартаменти, платени и дължими такси и вноски</li>
                                    <li>Управление на потребители, апартаменти, достъп, събития, видове такси и др.</li>
                                </ul>
                                <p>Предстоящи/в процес на разработка:</p>
                                <ul>
                                    <li>Достъп и специфични функционалности на ниво "касиер"</li>
                                    <li>Заплащане на такси и вноски онлайн</li>
                                    <li>Информация за индивидуални ангажименти и дейности по апартаменти</li>
                                </ul>
                            </article>
                            <article id='tabs-3'>
                                <p><а href="https://www.mrrb.bg/bg/zakon-za-upravlenie-na-etajnata-sobstvenost/" target="_blank">Закон за Управление на Етажната Собственост (ЗУЕС)</а></p>
                            </article>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Us Ends Here -->
<!-- Team Starts Here -->
<div class="team-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="section-heading">
                    <span>Автор</span>
                   
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="team-item">
                    <p> Университет за национално и световно стопанство УНСС</p>
                    <p> Специалност: Бизнес информатика</p>
                    <p> Поток: 199</p>
                    <p> Група: 1947</p>
                    <p> Факултетен № 18118025</p>
                    <div class="down-content">
                        <h4>УНСС</h4>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="team-item">
                    <a href="https://www.facebook.com/radostina.nakeva" target="_blank"><img src="@Constants.DOMAIN_NAME/images/radostina.jpg" alt=""></a>
                    <div class="down-content">
                        <h4>Радостина Накева</h4>
                        <span>Автор</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="team-item">
                    <a href="https://www.unwe.bg/" target="_blank"><img src="@Constants.DOMAIN_NAME/images/unss.jpg" alt=""></a>
                    <div class="down-content">
                        <h4>УНСС</h4>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        navActiveChange("nav-about");
    </script>
}