@model IndexViewModel
@section Styles{
    <link rel="stylesheet" href="~/css/counter-anmation.css">
}
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.counter').counterUp({
                delay: 10,
                time: 1200
            });
        });
    </script>
}
@{ 
    var r = new Random();
    int rNum = r.Next(3, 15);
}
<div class="counter-up" style="padding-top: 80px;">
    <div class="content">
        <div class="box">
            <div class="icon"><i class="fa fa-trophy"></i></div>
            <div class="counter">@rNum</div>
            <div class="text">Постижения</div>
        </div>

        <div class="box">
            <div class="icon"><i class="fa fa-users"></i></div>
            <div class="counter">@Model.UserCount</div>
            <div class="text">Потребители</div>
        </div>
            
        <div class="box">
            <div class="icon"><i class="fa fa-home"></i></div>
            <div class="counter">@Model.ApartmentCount</div>
            <div class="text">Апартаменти</div>
        </div>
    </div>
</div>


<div class="services-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <span>Locations</span>
                    <h2>Мнения от потребители</h2>
                    <p>.</p>
                </div>
            </div>

            <div class="col flex-sm-wrap-reverse ">
                <img src="@Constants.DOMAIN_NAME/images/apartments.png" alt="eHouseManager login image" style="width:100%; height: auto; min-width: 400px;" />
            </div>
        </div>
    </div>
</div>

